*{
    
}

#image1 {
    margin: 5px 5px 5px 5px;
    max-width: 200px;
    max-height: 350px;
    border-radius: 8px;
}

#image {
    margin: 5px 5px 5px 5px;
    height: 350px;
    border-radius: 8px;
}

#Intro {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Project {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Contact {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#line {
    border: none;
}

#spacing {
    line-height: 1.6;
}